rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ✅ CHECKLIST PÚBLICO
    match /checklists/{document} {
      allow read, write: if true;
    }

    // 🔒 DADOS ADMIN (somente usuários autenticados)
    match /admin/{document} {
      allow read, write: if request.auth != null;
    }
  }
}
