rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura, escrita, atualização e exclusão para qualquer um na coleção 'checklists'
    match /checklists/{document} {
      allow read, write: if true;
    }
  }
}
